
body{
  background-image: url("Firefly  бла-бла-бла.jpg");
  opacity: 0.9;
}

.user-list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.user-block {
  width: calc(50% - 20px);
  margin: 10px;
  color: white;
  padding: 10px;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #fcf5d5;
}

.user-block p {
  margin: 0;
  padding: 0;
}

.user-block button {
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.userDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;

}

.userDetails {
  width: 45%;
  text-align: left;
  border: 1px solid #f8eebc;
  padding: 20px;
color: white;
  border-radius: 20px;
}

.postsButton {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  }

#postsButton {
  width: 90%;
  margin: 0 auto;
  display: block;

}

.posts-grit{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.post{
  color: white;

}
.post-detail-block{
  color: white;
}
.comments-grid {
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  color: white;
}